.conteiner {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.icons-table{
    position: relative;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3%;
    background-color: #f6f1bf;
    border: 3px solid #000;
}
.offer-item{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 10px;
}
.offer-img{
    width: 50px;
    height: 50px;
    margin: 20px;
}
.offer-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.offer-title {
    color: #000;
    font: 16px/20px "Raleway", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
}
.offer-text{
    color: #33313b;
    font: 14px/16px "Raleway", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    text-align: left;
}
.main-info {
    background-color: #f6f1bf;
    border: 3px solid #000;
    text-align: left;
    padding: 20px;
    margin-bottom: 50px;
}
h2 {
	text-align: center;
	color: #f6f1bf;
	font: 32px/36px  "Raleway", "Arial", "Helvetica Neue", sans-serif;
	font-weight: 800;
	letter-spacing: 0.5em;
    text-shadow: 2px 2px 2px #000;
    margin-top: 3%;
}
h3 {
    color: #000;
    font: 16px/18px  "Raleway", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 800;
    margin-top: 20px;
}
p {
    color: #33313b;
    font: 14px/16px  "Raleway", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

@media (max-width: 600px) {
    .icons-table{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .offer-img{
        width: 25px;
        height: 25px;
        margin: 10px;
    }
    .offer-title {
        font: 12px/14px "Raleway", "Arial", "Helvetica Neue", sans-serif;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .offer-text{
        font: 10px/12px "Raleway", "Arial", "Helvetica Neue", sans-serif;
    }
    .main-info {
        width: 100%;
        padding: 10px;
        margin-bottom: 30px;
    }
    h2 {
        font: 14px/16px  "Raleway", "Arial", "Helvetica Neue", sans-serif;
        font-weight: 800;
    }
    h3 {
        font: 12px/16px  "Raleway", "Arial", "Helvetica Neue", sans-serif;
        font-weight: 600;
        margin-top: 10px;
    }
    p {
        font: 10px/14px  "Raleway", "Arial", "Helvetica Neue", sans-serif;
        font-weight: 300;
    }
}